<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>search arson index</title>
</head>
<body>

  <div class="container">
    <div style="background:transparent !important" class="jumbotron">
      <div style="font-family: 'Pacifico', cursive;">
        <p>
          <center>
          <font size="8">Search Arson Index</font>
          </center>
        </p>
      </div>
    </div>

    <form action="/search" method="post">
      <div class="input-group">
        <input type="text" class="form-control input-lg" name="input" placeholder="Search" autofocus>
        <div class="input-group-btn">
          <button class="btn btn-primary btn-lg" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>

      </div>
    </div>
  </body>
</html>
